{% extends 'base_super.html.twig' %}

{% block body %}
    <div class="text-center mt-5">
        <h1>
            <i class="fas fa-user-shield text-primary"></i>
            Bienvenue, Super Utilisateur !
        </h1>
        <p class="lead mt-4">
            <i class="fas fa-crown text-warning"></i>
            Vous avez accès à la gestion des entreprises et des superviseurs.
        </p>
    </div>
{% endblock %}